<div class="show_pages">

  <h3>Merchant has been successfully created</h3>

  <p>Name: </p>
  <%= @merchants.name %><hr>
  <p>Location: </p>
  <%= @merchants.location %><hr>
  <p>Website: </p>
  <%= @merchants.website_url %><hr>

</div>