<div class="content">

  <h2>Edit merchant</h2>

  <form action="/merchants/<%= @merchant.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= @merchant.name %>"><br>
    <br>
    <label for="location">Location:</label>
    <input type="text" name="location" value="<%= @merchant.location %>"><br>
    <br>
    <label for="website_url">Website:</label>
    <input type="text" name="website_url" value="<%= @merchant.website_url %>"><br>
    <br>
    <input type='submit' value="Update merchant">
  </form>

</div>