<h2>Add merchant</h2>

<form action="/merchants" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name"><br>
  <br>

  <label for="location">Location:</label>
  <input type="text" name="Location"><br>
  <br>

  <label for="website_url">Website:</label>
  <input type="text" name="website_url"><br>
  <br>

  <input type="submit" value="Add merchant">
  <br><hr>

</form>