body {
  font-family: "Trebuchet MS";
  margin: 0;
  background-color: white;
}

footer {
  background-color: lightgrey;
  padding: 10px;
  text-align: right;
}

div {
  font-family: verdana;
}

.home {
  background-color: white;
  color: navy;
  opacity: 0.9;
}

.logo {
  color: blue;
  line-height: 65px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.left_side {
  float: left;
}

.right_side {
  float: right;
  color: white;
}

.links {
  background-color: white;
  opacity: 0.9;
}

.show_pages {
  background-color: lightgrey;
  opacity: 0.9;
}

.bottom_left {
display: inline;
width: 400px;
height: 35px;
background-color: #FD5A5A;
float: left;
bottom: 0;
margin-top: 69px;
}

.box {
  padding: 20px;
  margin: 1em;
  border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    border-spacing: 5px;
}

nav {
  background-color: lightgrey;
  height: 65px;
  position: fixed;
  width: 100%;
  margin-right: 20px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  background-color: navy;
  color: white;
  margin: 0 10px;
  padding: 5px 15px;
}

nav a:hover {
  background-color: grey;
}

nav ul{
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
  line-height: 65px;
}

nav ul li{
  display: inline-block;
  margin-right: 65px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  line-height: 65px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

form {
  margin: 20px;
}

input {
  margin: 5px;
  font-size: 1em;
}

input[type=submit] {
  background-color: lightgrey;
  border: none;
  color: navy;
}

main {
  padding-top: 80px;
  overflow: scroll;
  min-height: 50em;
  font-family: verdana;
  background-image: url("https://4.bp.blogspot.com/-90QWNdjO42M/VXggDD89_OI/AAAAAAAABFo/Wc2Xfmgtm-o/s1600/Walter%2527s%2Bnot-white%2Bmoney.jpg");
}

main ul li {
  margin-bottom: 10px;
}