<div class="content">

  <h2>Edit category</h2>

  <form action="/categories/<%= @category.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="type">Type:</label>
    <input type="text" name="type" value="<%= @category.type %>"><br>
    <br>
    <input type='submit' value="Update category">
  </form>

</div>