<div>
  <% @categories.each do |category| %><br>
  Type: <a href="/merchants/<&= merchant.id %>"><%= category.type %></a><br><hr>
  <% end %>
  <br>
  <a href="/categories/new">Add new category</a><br>
  <br>
</div>