<div class="links">
  <ul>
    <h4>Type: </h4>
      <% @categories.each do |category| %>
      <li><a href="/categories/<%= category.id %>"><%= category.type %></a></li>  
    <% end %>

  <br> 
  &nbsp &nbsp<a href="/categories/new">Add new category</a>
  <br>  

  <form method="get">
    Search by category type:
    <input name="search" value="" type="text" />
    <input type="submit" value="search" />
  </form>
  <br>

</div>