<div>
  <% @categories.each do |category| %><br>
  Type: <a href="/categories/<%= category.id %>"><%= category.type %></a><br><hr>
  <% end %>
  <br>
  <a href="/categories/new">Add new category</a><br>
  <br>

  <form method="get">
    Search by category type:
    <input name="search" value="" type="text" />
    <input type="submit" value="search" />
  </form>

</div>