<div class="links">
  <table align="center">
    <tr>
      <th>Type: </th>
    </tr>
    <tr>
      <% @categories.each do |category| %>
      <td><a href="/categories/<%= category.id %>"><%= category.type %></a></td>
    </tr>  
    <% end %>
  </table>

  <br> 
  &nbsp &nbsp<a href="/categories/new">Add new category</a>
  <br>  

  <form method="get">
    Search by category type:
    <input name="search" value="" type="text" />
    <input type="submit" value="search" />
  </form>
  <br>

</div>