<h2>Add category</h2>

<form action="/categories" method="post">

  <label for="type">Type:</label>
  <input type="text" name="type"><br>
  <br>

  <label for="description">Description:</label>
  <input type="text" name="description"><br>
  <br>

  <input type="submit" value="Add category">
  <br><hr>

</form>