<div>
  <% @transactions.each do |transaction| %><br>
  Merchant: <%= transaction.merchant.name %>
  &nbsp; Category: <%= transaction.category.type %><br><hr>
  <% end %>
  <br>
  <a href="/transactions/new">Add a new transaction</a><br>
  <br>
</div>